.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introContainer {
  text-align: center;
}

.introContainer h1 {
  font-size: 25px;
  margin-bottom: 5px;
}

.introContainer span {
  color: #E63950;
  font-size: 30px;
}

.introContainer p {
  color: #7C8388;
  font-size: 15px;
  margin-bottom: 20px;
}

.imageContainer img {
  max-width: 600px;
  width: 100%;
  height: auto;
  margin-top: 20px;
  transition: transform 0.2s ease-in-out;
}

.imageContainer img:hover {
  transform: scale(1.02);
}

@media (min-width: 768px) {
  .introContainer h1 {
    font-size: 30px;
  }

  .introContainer span {
    font-size: 35px;
  }

  .introContainer p {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .mainContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;    
  }

  .imageContainer img {  
    margin-top: 0px;
  }
}
