.list {
  display: flex;
  gap: 2rem;
}

.email {
  color: #FF6B6B;
}

.github {
  color: #FFF;
}

.linkedin {
  color: #4D9DE0;
}

.email,
.github,
.linkedin {
  font-size: 2.5rem;
  transition: transform 0.2s ease-in-out;
}

.email:hover,
.github:hover,
.linkedin:hover {
  cursor: pointer;
  transform: scale(1.2);
}
