header {
  padding: 1.5rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logoContainer img {
  height: 6vh;
}

.logoContainer h1 {
  width: 150px;
  color: #7C8388;
  font-size: 1.4rem;
}

.logoContainer h1:hover {
  color: #92999E;
}

@media (min-width: 768px) {
  .logoContainer img {
    height: 8vh;
  }

  .logoContainer h1 {    
    font-size: 35px;
    white-space: nowrap;
  }
}
