.menuToggle {
  color: #7C8388;
}

.list {
  display: none;
  gap: 20px;
}

.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 80px;
  right: 0;
  padding: 1rem;
  margin-right: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.item {
  position: relative;
  color: #FF637B;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 5px;
  transition: color 0.3s ease;
}

.item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #E63950;
  transition: width 0.3s ease;
}

.item:hover {
  color: #E63950;
}

.item:hover::after,
.active::after {
  width: 100%;
}

.active {
  color: #E63950;
}

@media (min-width: 1024px) {
  .menuToggle {
    display: none;
  }

  .list {
    display: flex;
    position: static;
    flex-direction: row;
    background: none;
    box-shadow: none;
    padding: 0;
    margin-right: 0;
  }
}
