.pageHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.pageHeader h1 {
  color: var(--dark-gray);
  text-decoration: underline;
}

@media (min-width: 425px) {
  .pageHeader h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .pageHeader h1 {
    font-size: 4rem;
  }
}