.btn {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  color: #FFF;
  font-weight: 600;
  border-radius: 10px;
}

.pulsing {
  background-color: #3B8E64;
  box-shadow: 0 0 20px rgba(59, 142, 100, 0.9);
  animation: btn-pulse 2s ease-in-out infinite;
}

@keyframes btn-pulse {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

@media (min-width: 768px) {
  .btn {
    font-size: 1.9rem;
  }
}