.container {
  width: fit-content;
  margin: 5rem auto;
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: 700;
  font-size: 2.2rem;
  color: var(--dark-red);
  margin-bottom: 1rem;
}

.message {
  max-width: 400px;
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--dark-gray);
  margin-bottom: 2rem;
}